{% extends 'base.html' %}
{% include 'header.html' %}


{% block content %}

<div class="container mt-5">
  <h1>Introduction</h1>
  <p>Welcome to Adverts-Nepal, your one-stop destination for all your buying and selling needs in Nepal! We are a vibrant and dynamic online marketplace that connects buyers and sellers across the nation, providing a seamless and secure platform to trade a wide range of products and services.</p>

  <h2>About Us</h2>
  <div class="row">
    <div class="col-md-6">
      <img src="/static/icons/online-mp.png" alt="About Image" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h3>Who We Are</h3>
      <p>At Adverts-Nepal, we understand the importance of convenience, choice, and reliability when it comes to online transactions. Our mission is to empower individuals and businesses by facilitating easy and efficient exchanges, fostering economic growth, and community engagement throughout Nepal.

      Whether you're looking to buy or sell, our user-friendly platform offers a diverse array of categories to cater to your specific requirements. From electronics, fashion, and home appliances to vehicles, real estate, and professional services, Adverts-Nepal brings together a vast selection of products and services from trusted sellers.

      We prioritize the safety and security of our users. To ensure a safe trading environment, we implement stringent measures, including user verification, secure payment gateways, and a robust system for reporting and resolving disputes. You can browse and transact with confidence, knowing that we have taken every precaution to protect your interests.

      Our marketplace is designed with simplicity and accessibility in mind. With intuitive search and filtering options, you can easily find the products or services you're looking for, while our responsive interface ensures a seamless browsing experience across different devices.

      Beyond being a marketplace, Adverts-Nepal is a vibrant community. We encourage open communication and collaboration among our users, allowing you to connect, share knowledge, and build relationships. Join us in creating a thriving community of buyers and sellers, where everyone can benefit from shared experiences and expertise.

</p>

      <h3>Our Mission</h3>
      <p>Whether you're a seasoned online shopper or a first-time seller, Adverts-Nepal is here to cater to your needs. Join us today and experience the joy of effortless buying and selling in Nepal's premier online marketplace. We are committed to providing exceptional service and making your online trading journey a delightful one.

      Thank you for choosing Adverts-Nepal. Start exploring, start connecting, and unlock a world of possibilities!</p>
    </div>
  </div>
</div>


{% endblock %}