{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Adverts Nepal {% endblock %}


{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Adverts Nepal</h1>
        <p class="lead text-body-secondary"> Welcome to our buy and sell platform! Find great deals on a wide range of items or sell your unwanted goods. Join us today and start buying and selling with ease.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

<!--The below are the cards/ads.-->
{% if all_ads %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for ad in all_ads %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice">
             <image href={{ ad.img_url }} width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div class="card-body">
              <h5 class="card-title">{{ ad.ad_title }}</h5>
              <p class="card-text">{{ ad.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

</main>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Hey this is the landing page for the new web app where you could meet millions of other users want to sell their products online</p>
    <p class="mb-0">Thank you for your time? <a href="/">Visit the homepage</a> visit link <a href="/docs/5.3/getting-started/introduction/">to get started</a>.</p>
  </div>
</footer>

{% endblock %}